{
  "url": "{{ ghost_site_url }}",
  "server": {
    "port": {{ ghost_port }},
    "host": "{{ ghost_host }}"
  },
  "database": {
{% if ghost_db_type == 'mysql' %}
    "client": "mysql",
    "connection": {
      "host": "{{ ghost_db_host }}",
      "port": {{ ghost_db_port }},
      "user": "{{ ghost_db_user }}",
      "password": "{{ ghost_db_password }}",
      "database": "{{ ghost_db_name }}"
    }
{% else %}
    "client": "sqlite3",
    "connection": {
      "filename": "{{ ghost_content_dir }}/data/ghost.db"
    },
    "useNullAsDefault": true,
    "debug": false
{% endif %}
  },
{% if ghost_mail_transport != "" %}
  "mail": {
    "transport": "{{ ghost_mail_transport }}",
    "options": {{ ghost_mail_options | to_nice_json }}
  },
{% endif %}
  "logging": {
    "transports": [
      "file",
      "stdout"
    ]
  },
  "process": "systemd",
  "paths": {
    "contentPath": "{{ ghost_content_dir }}"
  },
  "privacy": {
    "useUpdateCheck": false
  }
}
